#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;

}

#card{
    display: flex;
    flex-direction: column;
    width:75vw;
    height:75vw;
    padding:25px;
    border-radius: 20px;
    display:none; 
}

#date{
    font-size: 20px;
    margin-bottom:30px;
    font-family: 'Indie Flower', cursive;
}

#hello{
    font-size: 48px;
}

#tip{
    font-size: 36px;
    font-family: 'Righteous', cursive;

}

#wall{
    display:none;
}

form{
    display: flex;
    flex-direction: column;
}

input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 24px;
  }

button{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
  }

/* This applies from 600px onwards */
@media (min-width: 600px) {
  body {

  }
}