#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;

}

#card{
    display: flex;
    flex-direction: column;
    width:75vw;
    height:75vw;
    padding:25px;
    border-radius: 20px;
    transform: translateX(100vw);
    transition: transform ease 1s;
    transition-delay: 1s;
}

#card.visible{
    transform: translateX(0);
}

#date{
    font-size: 20px;
    margin-bottom:20px;
    font-family: 'Indie Flower', cursive;
}

#hello{
    font-size: 48px;
}

#tip{
    font-size: 36px;
    font-family: 'Righteous', cursive;

}

#wall{
    display:none;
}

form{
    display: flex;
    flex-direction: column;
}

input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 24px;
  }

button{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
  }

  #nav-image{
      width:60vw;
      position: absolute;
      left:20vw;
      top:5vh;
      animation: 6s grow ease;
  }

  #footer{
      position: absolute;
      bottom:30px;
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    opacity:0;

    transition: opacity 1.5s ease 1s;
  }

  @keyframes grow{
      0%{transform:scale(0)}
      100%{transform:scale(1)}

  }


/* This applies from 600px onwards */
@media (min-width: 600px) {
  body {

  }
}